deb http://deb.debian.org/debian/ {{ ansible_distribution_release }} main
#deb-src http://deb.debian.org/debian/ {{ ansible_distribution_release }} main

deb http://security.debian.org/debian-security {{ ansible_distribution_release }}/updates main
#deb-src http://security.debian.org/debian-security {{ ansible_distribution_release }}/updates main

deb http://deb.debian.org/debian/ {{ ansible_distribution_release }}-updates main
#deb-src http://deb.debian.org/debian/ {{ ansible_distribution_release }}-updates main

deb http://deb.debian.org/debian/ {{ ansible_distribution_release }}-backports main
#deb-src http://deb.debian.org/debian/ {{ ansible_distribution_release }}-backports main
